# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# PyTorch
# =========================
*.pt
*.pth
*.ckpt

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Outputs
# =========================
outputs/
runs/
checkpoints/

# =========================
# Dataset
# =========================
data/raw/

# 保留split文件
!data/splits/
!data/splits/*.csv

# =========================
# Temporary files
# =========================
*.tmp
*.bak